<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考勤系统</title>
    <script type="text/javascript" src="../static/js/kaoqin.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/考勤页面.css">
</head>
<body>
<h1> 欢迎来到考勤系统 </h1>
<div id="course">
    <ul>
        {% for course in data["courses"] %}
            <li><a href="/kaoqin?course={{ course }}">{{ course }}</a></li>
        {% endfor %}
    </ul>
</div>

<div style="margin-left:20%;padding:1px 16px;height:1000px;">
    <form action="/submit_kq/{{ data["course"] }}/" method="post">
        {#   选择第几节课     #}
        <div>
            您现在是：
            <label>
                <select name="lesson">
                    {% for l in data["lessons"] %}
                        <option value="{{ l }}">{{ l }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <br>
        {#  班级复选框  #}
        <div id="class_choice">
            请选择班级：
            {% for cls in data["classes"] %}
                <input type="checkbox" class="c_checkbox" id="{{ cls }}" value="{{ cls }}"
                       onclick="checkboxOnclick(this, '{{ cls }}')">
                <label for="{{ cls }}">{{ cls }}</label>
            {% endfor %}<br><br>
        </div>

        {# 考勤表 #}
        <div style="display: block">
            <table border="1" id="table">
                {# 表头 #}
                <thead>
                <tr>
                    <th style="width: 4cm">班级</th>
                    <th style="width: 4cm">姓名</th>
                    <th style="width: 4cm">考勤</th>
                </tr>
                </thead>
                <tbody id="tbody">
                <tr style="display: none">
                    <td>1班</td>
                    <td>张三</td>
                    <td>
                        <label>
                            <select>
                                <option value="考勤正常">考勤正常</option>
                                {#   考勤异常的情况   #}
                                {% for y in data["kaoqin"].values() %}
                                    <option value="{{ y }}">{{ y }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <button type="submit">提 交</button>
    </form>
</div>

</body>
</html>